@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

.apply-font {
  font-family: 'Honk', system-ui;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向の中心に配置 */
  align-items: center; /* 水平方向の中心に配置 */
  height: 100vh; /* 親要素の高さをビューポートの全高と同じにする */
  text-align: center; /* テキストを中央揃えにする */
}

/* スクロールバーのトラック（背景部分） */
::-webkit-scrollbar {
  width: 12px; /* スクロールバーの幅 */
}

/* スクロールバーのハンドル（実際にドラッグする部分） */
::-webkit-scrollbar-thumb {
  background: #4B5563; /* ハンドルの色 */
  border-radius: 6px; /* ハンドルの角を丸くする */
}

/* スクロールバーのトラックにホバーした時のスタイル */
::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF; /* ホバー時のハンドルの色 */
}

/* スクロールバーのトラック（背景部分）のスタイル */
::-webkit-scrollbar-track {
  background: #F3F4F6; /* トラックの色 */
  border-radius: 6px; /* トラックの角を丸くする */
}


@keyframes slide {
  from {
    background-position: 0px 0;
  }
  to {
    background-position: 1000000px 0;
  }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/background_dark.png');
    background-size: cover;
    overflow: hidden;
    animation: slide 20000s linear infinite;
    z-index: -2; /* 背景を最背面に */
  }

  .text-outline {
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  @keyframes slideToLeft {
    from {
      right: 150%; /* 右端から開始 */
    }
    to {
      right: -150%; /* 左端まで移動 */
    }
  }

  .image-background {
    width: 300px;
    height: 300px;
    background-image: url('/static/warai.jpg'); /* Next.jsプロジェクトではpublicフォルダからのパス */
    background-size:cover; /* 画像が要素を完全に覆うように設定 */
    background-repeat: no-repeat; /* 画像を繰り返さない */
    animation: slideToLeft 17s linear infinite; /* アニメーション適用 */
    position: fixed; /* アニメーションの基準点 */
    z-index:-1;
  }
  
